{% extends 'Pagelayout.twig' %}

{%  block body %}

  <h2>{{ nbUsers }} Vos ticket(s)</h2>

  {% if vars.message is defined %}
    {% set status = vars.status is defined ? vars.status : 'success' %}
  <p class="alert alert-{{ status }}">{{ vars.message }}</p>
  {% endif %}



  {% if listUsers is defined %}
  
      <div class="row">
          <div class="col-12">
              <table
                    class="table"
                    id="table"
                    data-toggle="table"
                    data-url="{{ pathRoot ~ 'ticket/listticket' }}"
                    data-ajax="ajaxRequest"
                    data-search="true"
                    data-searchable="true"
                    data-side-pagination="server"
                    data-sortable="true"
                    data-pagination="true"
                    data-page-size="5">
                <thead>
                <tr>
                    <th data-field="id" 
                        data-searchable="false"
                        data-sortable="true"
                    >ID</th>
                    <th data-field="subject" 
                        data-searchable="true"
                        data-sortable="true"
                    >Sujet</th>
                    <th data-field="dateCrea" 
                        data-searchable="true"
                        data-sortable="true"
                    >Date de création</th>
                    <th data-field="dateModif" data-searchable="true">Date de modification</th>
                    <th data-field="demande" data-searchable="true">Demande</th>
                    <th data-field="etat" 
                        data-searchable="false"
                    >Etat</th>
                </tr>
                </thead>
              </table>
          </div>
      </div>
      <script>

        // your custom ajax request here
        function ajaxRequest(params) {
          const url = $('#table').data('url')

          $.get(url + '/?' + $.param(params.data))
            .then(function (res) {
              params.success( JSON.parse(res) )
            })
        }

        function profilFormatter(value, row) 
        {
          return '<a class="btn btn-sm btn-primary" href="{{ pathRoot ~ 'users/updateprofil/id/' }}' + row.id + '">Completer le profil</a>'
        }


        function activeFormatter(value, row)
        {
          const isChecked = value == 1 ? 'checked' : ''
          const isActif = value == false ? 0 : 1
          return ['<div class="form-check form-switch">',
                '<input class="form-check-input active-line" data-isactif="' + isActif + '" data-url="{{ pathRoot ~ 'users/setuserBS/id/' }}' + row.id + '/isactif/" type="checkbox" role="switch" id="flexSwitchCheckChecked" ' + isChecked + '>',
                '</div>'].join('')
        }

        function adminFormatter(value, row)
        {
          const isChecked = value == 1 ? 'checked' : ''
          const isAdmin = value == true ? 0 : 1
          return ['<div class="form-check form-switch">',
                '<input class="form-check-input admin-line" data-isadmin="' + isAdmin + '" data-url="{{ pathRoot ~ 'users/setadmin/id/' }}' + row.id + '/isadmin/" type="checkbox" role="switch" id="flexSwitchCheckChecked" ' + isChecked + '>',
                '</div>'].join('')
        }

      </script>

  {% endif %}

{%  endblock %}