{% extends 'Pagelayout.twig' %}

{%  block body %}

  <h2>{{ nbUsers }} Liste des clients </h2>

  {% if resultat is defined %}
    <p class="alert {{ resultat }}">{{ message }}</p>
  {% endif %}

    <div class="container">
      <div class="col-row mt-3">
        <div class="col-6">
          <button class="btn btn-primary mr-2" id="btnClientActif" 
          data-url="{{ pathRoot ~ 'client/listclientBS' }}"
          data-field="actif"
          data-val="0"><i class="fa-solid fa-lock-open"></i>Clients actifs</button>
          <button class="btn btn-secondary mr-2" id="btnClientInactif" 
          data-url="{{ pathRoot ~ 'client/listclientBS' }}"
          data-field="inactif"
          data-val="0"><i class="fa-solid fa-lock"></i>Clients inactifs</button>
        </div>
      </div>
    </div>

  
  <div class="row mt-3">
      <div class="col-12">
          <table
                class="table"
                id="table"
                data-toggle="table"
                data-url="{{ pathRoot ~ 'client/listclientBS' }}"
                data-ajax="ajaxRequest"
                data-search="true"
                data-searchable="true"
                data-side-pagination="server"
                data-sortable="true"
                data-pagination="true"
                data-query-params="queryParams"
                data-page-size="5">
            <thead>
            <tr>
                <th data-field="CI_id" 
                    data-searchable="false"
                    data-sortable="true"
                >N°</th>
                <th data-field="CI_prenom" 
                data-searchable="true"
                data-sortable="false"
                >Prénom</th>
                <th data-field="CI_nom" 
                data-searchable="true"
                data-sortable="false"
                >Nom</th>
                <th data-field="CI_login" 
                    data-searchable="true"
                    data-sortable="false"
                >Login</th>
                <th data-field="CI_dateCrea" 
                    data-searchable="true"
                    data-sortable="true"
                >Date de création</th>
                <th data-field="CI_actif" 
                    data-searchable="false"
                    data-sortable="true"
                >Etat</th>
                <th data-field="action" 
                    data-searchable="false"
                    data-formatter="actionFormatter"
                >Action</th>
            </tr>
            </thead>
          </table>
      </div>
  </div>
  <script>

      // your custom ajax request here
      function ajaxRequest(params) {
        const url = $('#table').data('url')

        $.get(url + '/?' + $.param(params.data))
          .then(function (res) {
            params.success( JSON.parse(res) )
          })
      }

      function queryParams( params ) {
        params.actif = document.querySelector('#btnClientActif').dataset.val
        params.inactif = document.querySelector('#btnClientInactif').dataset.val
        document.querySelector('#btnClientActif').dataset.val = 0
        document.querySelector('#btnClientInactif').dataset.val = 0
        return params
      }

      window.onload = () => {
        const allBtn = document.querySelectorAll(".btn")

        allBtn.forEach( function(btn) {
            btn.addEventListener('click', (e)=>{
                const elem = e.target
                elem.dataset.val = 1
                $('#table').bootstrapTable('refresh')
            })
        })
    }

      function actionFormatter(value, row) 
      {
        return '<a class="btn btn-sm btn-primary" href="{{ pathRoot ~ 'client/updateclient/id/' }}' + row.CI_id + '"> Voir le profil </a>'
      }

    </script>

{%  endblock %}